<section class="footer bg-white">
  <div class="container padding-t-md">
    <div class="row">
      <div class="col-lg-6">
        <p class="logo"><img src="mkt.vtvhyundai.vn_files/logo.svg" /></p>
        <h5 class="title-footer">CÔNG TY TNHH MUA SẮM TẠI NHÀ VTV-HYUNDAI</h5>
        <ul class="infomation-company">
          <li class="add">
            Số 23, Đường số 30, Khu phố 2, Phường Cát Lái, Quận 2, Thành phố Hồ
            Chí Minh, Việt Nam
          </li>
          <li class="email">cskh@vtvhyundai.vn</li>
          <li class="phone">1900-7137 | Fax: 028-5406-3590</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="title-footer">Liên kết</h5>
        <ul>
          <li><a href="#">Liên hệ</a></li>
          <li><a href="#">Điều khoản sử dụng</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Đặt hàng/ thanh toán</a></li>
          <li><a href="#">Giao hàng</a></li>
          <li><a href="#">Bảo hành</a></li>
          <li><a href="#">Hủy, đổi, trả hàng</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="title-footer">Trung tâm khách hàng</h5>
        <ul>
          <li>
            <span>Hotline 24/7: <b>1900 7137</b></span>
          </li>
          <li><a href="#">Câu hỏi thường gặp</a></li>
          <li><a href="#">Hướng dẩn sử dụng</a></li>
        </ul>
        <h5 class="title-footer">kết nối</h5>
        <ul>
          <li><a href="#">youtube</a></li>
          <li><a href="#">faccebook</a></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h5 class="title-footer">DOWNLOAD VTV-HYUNDAI APP</h5>
        <div class="download">
          <img
            class="qr-code"
            src="mkt.vtvhyundai.vn_files/bg_android_qr_code.jpg"
          />
          <a class="btn-download" href=""
            ><img src="mkt.vtvhyundai.vn_files/apple-store.jpg"
          /></a>
          <a class="btn-download" href=""
            ><img src="mkt.vtvhyundai.vn_files/google-store.jpg"
          /></a>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="title-footer">Chấp nhận thanh toán</h5>
        <img class="pay" src="mkt.vtvhyundai.vn_files/pay.jpg" />
      </div>
    </div>
    <hr />
    <div class="copy-right text-center">
      <p>
        Copyright © 2015 <b>VTV-HYUNDAI HOME SHOPPING</b>. All Rights Reserved.
      </p>
      <a href="#"><img src="mkt.vtvhyundai.vn_files/bocongthuong.jpg" /></a>
    </div>
  </div>
</section>
