<section class="main-header animation">
  <div class="top animation">
    <div class="container">
      <div class="row">
        <div class="col-7 menu-top">
          <ul>
            <!-- <li><a href="#">tải ứng dụng</a></li> -->
            <li>
              kết nối:
              <a href="">facebook</a>
              <a href="">youtube</a>
            </li>
          </ul>
        </div>
        <div class="col-5 menu-top">
          <ul class="text-end">
            <li><a href="#">Đăng ký</a></li>
            <li><a href="#">Đăng nhập</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container header">
    <span class="btn-search-ac"
      ><img src="mkt.vtvhyundai.vn_files/icon-svg_search-white.svg"
    /></span>
    <span class="btn-menu-ac"></span>
    <h1 class="logo">
      <a href="https://mkt.vtvhyundai.vn/index.html"
        ><img src="mkt.vtvhyundai.vn_files/logo-w.svg"
      /></a>
    </h1>
    <div class="wrap-fs-header">
      <div class="search-header">
        <input
          type="test"
          class="form-control"
          placeholder="Nhập từ khóa bạn muốn tìm kiếm..."
        />
        <button type="submit" class="btn-dack-style">
          <img src="mkt.vtvhyundai.vn_files/icon-svg_search-white.svg" />Tìm
          kiếm
        </button>
      </div>
      <ul class="icon-fs-header">
        <li>
          <a class="animation" href="#"
            ><img
              src="mkt.vtvhyundai.vn_files/icon-svg_thong-bao-white.svg"
            /><span>3</span></a
          >
        </li>
        <li>
          <a class="animation" href="#"
            ><img
              src="mkt.vtvhyundai.vn_files/icon-svg_theo-doi-don-hang-white.svg"
          /></a>
        </li>
        <li>
          <a class="animation" href="#"
            ><img
              src="mkt.vtvhyundai.vn_files/icon-svg_gio-hang-white.svg"
            /><span>5</span></a
          >
        </li>
      </ul>
    </div>
    <span class="close-search animation"></span>
    <span class="close-menu animation"></span>
  </div>
  <div class="container menu-dt animation">
    <div class="main-menu">
      <ul>
        <li class="active"><a class="animation" href="">Trang Chủ</a></li>
        <li><a class="animation" href="">Khuyến Mãi</a></li>
        <li><a class="animation" href="">Hot Deal</a></li>
        <li><a class="animation" href="">Sản phẩm mới</a></li>
        <li><a class="animation" href="">Lịch phát sóng</a></li>
      </ul>
    </div>
    <div class="header-hotline">
      <span>1900 7137</span>
      <img src="mkt.vtvhyundai.vn_files/icon-svg_hotline-white.svg" />
    </div>
  </div>
</section>
